## Intro to Jupyter

we can write markdown or python code in our cells. You can choose accordingly in the dropdown above.

## print helloworld

In [1]:
print("hello world")

hello world

In [2]:
print("hello world")
print("hello world")

hello world
hello world

## Variables

In [3]:
a = 10
b = 20

a+b

30

In [4]:
print(a+b)

30

In [5]:
10
10

10

In [6]:
sum =a +b
print(sum)

30

In [7]:
b=5

In [8]:
print(sum)

30

In [9]:
sum = a+b

In [10]:
print(sum)

15

In [11]:
_ab=77

### assigning different type of data to a variable

In [12]:
a =10
a =20
a = "hehe"
a

'hehe'

In [13]:
a = 'hehe'
a

'hehe'

In [14]:
 a = 1

In [15]:
a = "abc"
type(a)

str

In [16]:
print(type(a))

<class 'str'>

In [17]:
print(print(type(a)))

<class 'str'>
None

In [18]:
print(print(print(type(a))))

<class 'str'>
None
None

# python number

In [19]:
a1 = 23
a2 =3.4
a3 = 4 + 5j

In [20]:
print(type(a3))
print(type(a2))

<class 'complex'>
<class 'float'>

In [21]:
id(a1)

2432730819568

In [22]:
a1 =23
id(a1)

2432730819568

In [23]:
a1 =33
id(a1)

2432730819888

id gives use uniqure number associated with the variable where it is stored

In [24]:
a =-45
b =-45
print(id(a))
print(id(b))

2432811948976
2432811948368

[-5,256] python stores same address for variable with same value, does optimization

In [25]:
a1 =1000
b1=1000
print(id(a1))
print(id(b1))

2432811947824
2432811948144

In [26]:
a = 10/3
print(a)

3.3333333333333335

# Arithmatic Operators

In [27]:
a =10
a+=10

In [28]:
print(a)

20

In [29]:
a =40 
b=15

a/b #floating point divison

2.6666666666666665

In [30]:
a//b #integer divison

2

In [31]:
a%b

10

In [32]:
#simple interset to lower integer
p =100
r = 10
t =2
ai = (p*r*t)//100
print(ai)

20

In [33]:
# fah to celcius conversion
f=100
c = (f-32)*5/9
print(c)
c1 = (f-32)*5//9
print(c1)

37.77777777777778
37

# taking input

In [34]:
input()

69

'69'

In [35]:
a =input()
print(a)

45
45

In [36]:
a = input()
b =input()
s =a +b
print(a)
print(a+b)

5
9
5
59

In [37]:
print(type(a))
print(type(b))
print(type(s))

<class 'str'>
<class 'str'>
<class 'str'>

In [38]:
#takes input in form of string now to convert it into int we can do:
c = int(a)
d = int(b)
c+d

14

In [39]:
#another option is this will only work for int
a = int(input())
b = int(input())
print(a+b)
print(type(a))

5
9
14
<class 'int'>

In [40]:
#now to take input in form of float (string should be valid float)
c = float(input())
d = float(input())
e = c+d
print(e)

9.56
.65
10.21

In [41]:
#simple interset calculation from your input
p = float(input()) #principle
r = float(input()) #rate of interset
t = float(input()) #time in years
ai = (p*r*t)//100
print(ai)

6
9
7
3.0

In [42]:
#Find average Marks
m1 = int(input())
m2 = int(input())
m3 = int(input())
avg = (m1+m2+m3)/3
print(avg)

6
8
8
7.333333333333333

In [45]:
#Find X raised to power N
x = int(input())
N= int(input())
ans =1
while(N):
    N=N-1
    ans=ans*x
print(ans)

4
3
64